@elabcom rc file Version 1.0
[oh]
invokeDir = /home/park/PROJECT/02_2D_Interpolator/03_Sim/1_func/231104b
hostCommand = -lib /home/park/PROJECT/02_2D_Interpolator/03_Sim/1_func/231104b/./simv.daidir/work -saveLevel -elab /home/park/PROJECT/02_2D_Interpolator/03_Sim/1_func/231104b/./simv.daidir/kdb -simflow -simdir /home/park/PROJECT/02_2D_Interpolator/03_Sim/1_func/231104b/\
./simv.daidir/kdb_libs -top tb_top -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
