
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dummy file
*.swp
*.swo

# Project Directory
/PROJECT/*/03_Sim/*
/PROJECT/*/04_Lint/*
/PROJECT/*/05_Pre_Synthesis/*
/PROJECT/*/zz_*/*
